data
node_modules
dist
coverage
test
.git
.gitignore
README.md
*.md
.vscode
.idea
*.log
.env.example
docker-compose*.yml
Dockerfile
.dockerignore
.eslintrc*
.prettierrc*
jest.config.js
*.spec.ts
__mocks__
test
.eslintcache
.npm
.yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*